{% extends 'base.html' %}
{% load static %}

{% block main %}

<div class="container my-3 shadow w-50">
    <!-- <p class="container bg-primary p-2 text-white text-center shadow mt-2 form-control">Register Form</p>  -->
    <form action="" method="POST">
        {% csrf_token %}

        <table class="shadow">
            <tr>
                <th><h2>Forgot Password</h2></th>
            </tr>
            <tr>
                <td><label for="">Email Id :</label></td>
                <td><input type="email" name="email" placeholder="Please Enter Email" required></td>
            </tr>

            <tr>
                <td><input type="submit" value="Send OTP"></td>
            </tr>
        </table>
    </form>
</div>

{% endblock main %}