{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container my-3 shadow w-50">
    <form action="" method="POST">
        {% csrf_token %}
        <table class="shadow">
            <tr>
                <th><h2>Reset Password</h2></th>
            </tr>
            <tr>
                <td><label for="">New Password :</label></td>
                <td><input type="password" name="new_password" placeholder="Please Enter New Password" required></td>
            </tr>
            <tr>
                <td><label for="">Confirm Password :</label></td>
                <td><input type="password" name="confirm_password" placeholder="Please Enter Confirm Password" required></td>
            </tr>           
            <tr>
                <td><button type="submit">Reset Password</button></td>
            </tr>
        </table>
    </form>
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{message}}</p>
            {% endfor %}
        {% endif %}       
</div>
{% endblock main %}