{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container my-3 shadow w-50">
    <!-- <p class="container bg-primary p-2 text-white text-center shadow mt-2 form-control">Register Form</p>  -->
    <div class="row">
        <form action="" method="POST">
            {% csrf_token %}  
            <table class="shadow">
                <tr>
                    <th><h2>OTP PURPOSE :{{otp_purpose|capfirst}}</h2></th>
                </tr>
                <tr>
                    <td><label for="">Enter OTP :</label></td>
                    <td><input type="text" name="otp" placeholder="Please Enter OTP" required></td>
                </tr>
    
                <tr>
                    <td><button type="submit"> Verify OTP</button></td>
                </tr>
            </table>
        </form>
        {% if messages %}
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock main %}